:root {
  --clr-bg: #f7f8fa;
  --clr-bg-dark: #eceff3;

  --clr-text: #1f2933;
  --clr-text-light: #4b5563;

  --clr-primary: #1e3a5f;
  --clr-primary-dark: #0b1e36;

  font-size: 18px;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;

  color: var(--clr-text);
  background: var(--clr-bg);
}

main {
  flex: 1;
}
section {
  --page-padding: 3rem;
  --section-inline-padding: 1.5rem;
  --content-max-width: 1200px;

  @media (max-width: 41rem) {
    --section-inline-padding: 1rem;
  }

  display: grid;
  width: 100%;
  grid-template-columns:
    [full-width-start]
    minmax(var(--section-inline-padding), 1fr)
    [content-start]
    min(100% - (var(--section-inline-padding) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--section-inline-padding), 1fr)
    [full-width-end];
}
section > * {
  grid-column: content;
}

section:first-child {
  padding-block-start: var(--page-padding);
}
section:last-child {
  padding-block-end: var(--page-padding);
}
