---
import ArrowIcon from "../assets/icons/ArrowIcon.astro";

const { href, size } = Astro.props;
---

<a href={href} class={"button" + (size ? ` ${size}` : "")}>
    <slot />
    <ArrowIcon />
</a>

<style is:global>
    .button {
        display: flex;
        gap: 1ch;
        align-items: center;

        padding-inline: 1.5ch 1.25ch;
        padding-block: 0.5ch;

        font-family: var(--ff-body);
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;

        background: none;
        color: var(--clr-primary);
        border: 2px solid var(--clr-primary);

        transition: all 100ms ease-in-out;

        & svg {
            width: 1.5ch;
            height: 1.5ch;
        }
        &:hover {
            color: var(--clr-bg);
            background: var(--clr-primary);
        }
    }
    .button.big {
        font-size: 1.125rem;
    }
</style>
